aside details {
    margin: 8px 0;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    padding: 8px;
}

aside summary {
    font-weight: bold;
    cursor: pointer;
}

aside details p {
    margin-top: 6px;
    padding: 4px;
    font-size: 0.95rem;
}